<main class="container mx-auto mt-10 flex-grow px-8 sm:px-16 md:px-24 lg:px-32 hidden">
  <section class="mx-auto mt-10 max-w-6xl text-left">
    <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg">
      <div class="p-6">
        <h3 class="mb-4 text-2xl font-bold text-white flex items-center">
          <i class="fa-solid fa-tools mr-3 text-gray-300"></i>
          Selecciona el ámbito a gestionar
        </h3>
        <div class="flex flex-wrap gap-4">
          <a href="/admin/calendar" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 flex items-center flex-shrink-0">
            <i class="fa-solid fa-calendar-day mr-2"></i>Calendario
          </a>
          <a href="/admin/linkcutter" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 flex items-center flex-shrink-0">
            <i class="fa-solid fa-link mr-2"></i>Link Cutter
          </a>
          <a href="/auth/logout" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 flex items-center flex-shrink-0">
            <i class="fa-solid fa-sign-out-alt mr-2"></i>Logout
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include(`../scripts.ejs`) %>