<main class="container mx-auto mt-10 flex-grow px-8 sm:px-24 lg:px-64 hidden">
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg">
      <div class="p-6">
        <h3 class="mb-4 text-2xl font-bold text-white flex items-center">
          <i class="fa-solid fa-link mr-3 text-gray-300"></i>
          Selecciona la acci칩n
        </h3>
        <div class="flex space-x-4">
          <button id="showCreateLinkForm" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 flex items-center">
            <i class="fa-solid fa-plus mr-2"></i>Crear Enlace
          </button>
          <button id="showEditLinkForm" class="px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600 flex items-center">
            <i class="fa-solid fa-edit mr-2"></i>Editar Enlace
          </button>
          <button id="showDeleteLinkForm" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 flex items-center">
            <i class="fa-solid fa-trash mr-2"></i>Eliminar Enlace
          </button>
          <button id="showAllLinks" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 flex items-center">
            <i class="fa-solid fa-eye mr-2"></i>Mostrar Todos los Enlaces
          </button>
        </div>
      </div>
    </div>

    <div id="createLinkFormContainer" class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hidden mt-6">
      <div class="p-6">
        <h3 class="mb-4 text-2xl font-bold text-white flex items-center">
          <i class="fa-solid fa-plus mr-3"></i>
          Formulario de Crear Enlace
        </h3>
        <form id="createLinkForm" class="space-y-6">
          <div>
            <label for="urlCreateLink" class="block text-sm font-bold text-gray-100">URL</label>
            <input type="text" id="urlCreateLink" name="url" class="font-agrandir mt-1 block w-full bg-gray-700 border-gray-600 rounded-md shadow-sm focus:border-blue-400 focus:ring focus:ring-blue-400 focus:ring-opacity-50 text-white" required>
          </div>
          <div>
            <label for="idCreateLink" class="block text-sm font-bold text-gray-100">ID (Opcional)</label>
            <input type="text" id="idCreateLink" name="id" class="font-agrandir mt-1 block w-full bg-gray-700 border-gray-600 rounded-md shadow-sm focus:border-blue-400 focus:ring focus:ring-blue-400 focus:ring-opacity-50 text-white">
          </div>
          <div>
            <label for="userCreateLink" class="block text-sm font-bold text-gray-100">Usuario</label>
            <input type="text" id="userCreateLink" name="user" class="font-agrandir mt-1 block w-full bg-gray-700 border-gray-600 rounded-md shadow-sm focus:border-blue-400 focus:ring focus:ring-blue-400 focus:ring-opacity-50 text-white" required>
          </div>
          <div>
            <label for="passwordCreateLink" class="block text-sm font-bold text-gray-100">Contrase침a</label>
            <input type="password" id="passwordCreateLink" name="password" class="font-agrandir mt-1 block w-full bg-gray-700 border-gray-600 rounded-md shadow-sm focus:border-blue-400 focus:ring focus:ring-blue-400 focus:ring-opacity-50 text-white" required>
          </div>
          <div>
            <button type="button" id="submitCreateLinkForm" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 flex items-center">
              <i class="fa-solid fa-check mr-2"></i>Crear Enlace
            </button>
          </div>
        </form>
      </div>
    </div>

    <div id="editLinkFormContainer" class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hidden mt-6">
      <div class="p-6">
        <h3 class="mb-4 text-2xl font-bold text-white flex items-center">
          <i class="fa-solid fa-edit mr-3"></i>
          Formulario de Editar Enlace
        </h3>
        <form id="editLinkForm" class="space-y-6">
          <div>
            <label for="idEditLink" class="block text-sm font-bold text-gray-100">ID del Enlace</label>
            <input type="text" id="idEditLink" name="id" class="font-agrandir mt-1 block w-full bg-gray-700 border-gray-600 rounded-md shadow-sm focus:border-yellow-400 focus:ring focus:ring-yellow-400 focus:ring-opacity-50 text-white" required>
          </div>
          <div>
            <label for="urlEditLink" class="block text-sm font-bold text-gray-100">Nueva URL</label>
            <input type="text" id="urlEditLink" name="url" class="font-agrandir mt-1 block w-full bg-gray-700 border-gray-600 rounded-md shadow-sm focus:border-yellow-400 focus:ring focus:ring-yellow-400 focus:ring-opacity-50 text-white">
          </div>
          <div>
            <label for="userEditLink" class="block text-sm font-bold text-gray-100">Usuario</label>
            <input type="text" id="userEditLink" name="user" class="font-agrandir mt-1 block w-full bg-gray-700 border-gray-600 rounded-md shadow-sm focus:border-yellow-400 focus:ring focus:ring-yellow-400 focus:ring-opacity-50 text-white" required>
          </div>
          <div>
            <label for="passwordEditLink" class="block text-sm font-bold text-gray-100">Contrase침a</label>
            <input type="password" id="passwordEditLink" name="password" class="font-agrandir mt-1 block w-full bg-gray-700 border-gray-600 rounded-md shadow-sm focus:border-yellow-400 focus:ring focus:ring-yellow-400 focus:ring-opacity-50 text-white" required>
          </div>
          <div>
            <button type="button" id="submitEditLinkForm" class="px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600 flex items-center">
              <i class="fa-solid fa-check mr-2"></i>Editar Enlace
            </button>
          </div>
        </form>
      </div>
    </div>

    <div id="deleteLinkFormContainer" class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hidden mt-6">
      <div class="p-6">
        <h3 class="mb-4 text-2xl font-bold text-white flex items-center">
          <i class="fa-solid fa-trash mr-3"></i>
          Formulario de Eliminar Enlace
        </h3>
        <form id="deleteLinkForm" class="space-y-6">
          <div>
            <label for="idDeleteLink" class="block text-sm font-bold text-gray-100">ID del Enlace</label>
            <input type="text" id="idDeleteLink" name="id" class="font-agrandir mt-1 block w-full bg-gray-700 border-gray-600 rounded-md shadow-sm focus:border-red-400 focus:ring focus:ring-red-400 focus:ring-opacity-50 text-white" required>
          </div>
          <div>
            <label for="userDeleteLink" class="block text-sm font-bold text-gray-100">Usuario</label>
            <input type="text" id="userDeleteLink" name="user" class="font-agrandir mt-1 block w-full bg-gray-700 border-gray-600 rounded-md shadow-sm focus:border-red-400 focus:ring focus:ring-red-400 focus:ring-opacity-50 text-white" required>
          </div>
          <div>
            <label for="passwordDeleteLink" class="block text-sm font-bold text-gray-100">Contrase침a</label>
            <input type="password" id="passwordDeleteLink" name="password" class="font-agrandir mt-1 block w-full bg-gray-700 border-gray-600 rounded-md shadow-sm focus:border-red-400 focus:ring focus:ring-red-400 focus:ring-opacity-50 text-white" required>
          </div>
          <div>
            <button type="button" id="submitDeleteLinkForm" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 flex items-center">
              <i class="fa-solid fa-check mr-2"></i>Eliminar Enlace
            </button>
          </div>
        </form>
      </div>
    </div>

    <div id="allLinksContainer" class="hidden mt-6">
      <h3 class="mb-4 text-2xl font-bold text-white flex items-center">
        <i class="fa-solid fa-eye mr-3"></i>
        Listado de Enlaces
      </h3>
      <div id="linksGrid" class="grid grid-cols-1 gap-2"></div>
    </div>

    <style>
      .link-card p {
        word-wrap: break-word;
      }

      .link-card a {
        word-wrap: break-word;
        white-space: normal;
      }
    </style>
  </section>

  <script src="/js/minified/links.js"></script>
  <%- include(`../scripts.ejs`) %>
</main>