<main class="container mx-auto mt-10 flex-grow px-8 sm:px-24 lg:px-64 hidden">
  <section class="mx-auto mt-10 max-w-4xl text-center">
    <div class="items-center flex flex-col">
      <div class="items-center flex text-left">
        <img src="/img/logo.webp" alt="Alex Verde" class="h-24 w-24 rounded-full border-4 border-blue-400" />
        <div class="ml-4">
          <h2 class="text-3xl font-semibold">Alex Verde</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold">Un poco sobre mi</h3>
    <div class="space-y-6">
      <div class="mt-0 p-6 bg-gray-800 rounded-lg shadow-lg">
        <p class="font-agrandir text-white text-left">¡Hola! Soy Alex, un entusiasta programador, gamer y streamer en mis ratos libres. Me especializo en el desarrollo web y la administración de servidores, aunque también disfruto creando aplicaciones de escritorio. Me encanta experimentar con Node.js y otras tecnologías, y siempre estoy frente a mi ordenador, trabajando en proyectos, con un café en mano y mi pasión por aprender como compañeros.</p>
      </div>
      <div class="mt-0 p-6 bg-gray-800 rounded-lg shadow-lg">
        <p class="font-agrandir text-white text-left">Soy estudiante de Desarrollo de Aplicaciones Web, un camino que elegí porque la informática ha sido mi pasión desde que tengo memoria, remontándome a mis primeros años de vida.</p>
      </div>
      <div class="mt-0 p-6 bg-gray-800 rounded-lg shadow-lg">
        <p class="font-agrandir text-white text-left">Entre mis hobbies destacan la fotografía, la programación como una pasión más que como un trabajo, y los videojuegos, aunque prefiero invertir mi tiempo en seguir aprendiendo y explorando el fascinante mundo de la informática y la tecnología.</p>
      </div>
    </div>
  </section>

  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold">Mi Tech Stack 🛠️</h3>
    <div id="tech-stack-container" class="space-y-6">
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg">
        <h4 class="font-bold text-gray-100">Lenguajes de Programación</h4>
        <p class="text-gray-400 font-agrandir">HTML, CSS, JavaScript, Python, SQL, Java (en aprendizaje)</p>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg">
        <h4 class="font-bold text-gray-100">Entornos de Desarrollo</h4>
        <p class="text-gray-400 font-agrandir">Visual Studio Code, IntelliJ IDEA, NetBeans</p>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg">
        <h4 class="font-bold text-gray-100">Frameworks</h4>
        <p class="text-gray-400 font-agrandir">VuePress, VitePress, Bootstrap, Express, Tailwind CSS, EJS</p>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg">
        <h4 class="font-bold text-gray-100">Bases de Datos</h4>
        <p class="text-gray-400 font-agrandir">SQLite, MySQL</p>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg">
        <h4 class="font-bold text-gray-100">Herramientas de Contenedorización y Virtualización</h4>
        <p class="text-gray-400 font-agrandir">Docker, WSL</p>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg">
        <h4 class="font-bold text-gray-100">Sistemas Operativos</h4>
        <p class="text-gray-400 font-agrandir">Windows, Linux, Android</p>
      </div>
    </div>
  </section>

  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold">¿Qué tipo de proyectos suelo hacer?</h3>
    <div id="project-types-container" class="space-y-6">
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg">
        <p class="text-white font-agrandir">Desarrollo de sitios web dinámicos y responsivos</p>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg">
        <p class="text-white font-agrandir">Automatización de tareas y creación de bots</p>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg">
        <p class="text-white font-agrandir">Integraciones con APIs y servicios externos</p>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg">
        <p class="text-white font-agrandir">Pruebas de concepto y experimentación con nuevas tecnologías</p>
      </div>
    </div>
  </section>

  <!-- Sección de scripts -->
  <%- include(`scripts.ejs`) %>
</main>