<head>
  <title>AlexDevUwU | Web Oficial</title>
  <!-- Secci칩n de scripts -->
  <script src="/js/thirdparty/jquery.min.js"></script>

  <!-- Secci칩n de CSS -->
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/thirdparty/fawesome/css/all.min.css" rel="stylesheet">

  <!-- Secci칩n de metadatos -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Descubre acerca de mi, de mis proyectos, de mi contenido y mucho m치s en mi web oficial!">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>