  <main class="container mx-auto mt-10 flex-grow px-8 sm:px-24 lg:px-64">
    <section class="mx-auto mt-10 max-w-4xl text-left">
      <div class="items-left flex flex-col">
        <div class="items-left flex text-left">
          <img src="https://pbs.twimg.com/profile_images/1615088228968661014/ckv0lEyI.jpg" alt="AlexDevUwU" class="h-24 w-24 rounded-full border-4 border-blue-400" />
          <div class="ml-4">
            <h2 class="text-3xl font-semibold">Alex Verde</h2>
            <p class="text-base text-blue-400">@alexdevuwu</p>
            <div class="mt-2 flex space-x-4">
              <a href="https://github.com/alexdeveloperuwu" class="text-xl text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
                <i class="fab fa-github"></i>
              </a>
              <a href="https://twitter.com/alexdevuwu" class="text-xl text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://twitch.tv/alexdevuwu" class="text-xl text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
                <i class="fab fa-twitch"></i>
              </a>
              <a href="https://www.youtube.com/channel/UCxcD9py3y1df8CWzT5VsZMw" class="text-xl text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <p class="mx-auto mt-10 max-w-4xl text-left">¡Hola! Soy Alex, un apasionado programador, gamer y streamer en mi tiempo libre. Principalmente desarrollo páginas web y despliego servidores de diversos tipos, aunque también he creado aplicaciones de escritorio. Tengo una especial afición por experimentar con Node.js y otras tecnologías. Paso muchas horas en mi ordenador, trabajando en varios proyectos, siempre acompañado de mi café y mi entusiasmo por aprender y descubrir cosas nuevas!</p>
    </section>
    <section class="mx-auto mt-10 max-w-4xl text-left">
      <h3 class="mb-4 text-2xl font-bold">Comunidad</h3>
      <div class="space-y-6">
        <a href="#" class="block rounded-lg bg-blue-800 p-6 hover:bg-blue-700">
          <div class="flex items-center">
            <i class="fas fa-book-open mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">Cursos gratis</p>
              <p class="text-gray-400">Consulta mis tutoriales para aprender programación</p>
            </div>
          </div>
        </a>
        <a href="#" class="block rounded-lg bg-gray-800 p-6 hover:bg-gray-800">
          <div class="flex items-center">
            <i class="fab fa-twitch mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">Twitch</p>
              <p class="text-gray-400">Transmisiones sobre programación de lunes a viernes</p>
            </div>
          </div>
        </a>
        <a href="#" class="block rounded-lg bg-gray-800 p-6 hover:bg-gray-800">
          <div class="flex items-center">
            <i class="fab fa-discord mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">Discord</p>
              <p class="text-gray-400">El chat y los grupos de estudio de la comunidad</p>
            </div>
          </div>
        </a>
        <a href="#" class="block rounded-lg bg-gray-800 p-6 hover:bg-gray-800">
          <div class="flex items-center">
            <i class="fab fa-youtube mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">YouTube</p>
              <p class="text-gray-400">Tutoriales sobre desarrollo de software semanales</p>
            </div>
          </div>
        </a>
        <a href="#" class="block rounded-lg bg-gray-800 p-6 hover:bg-gray-800">
          <div class="flex items-center">
            <i class="fas fa-video mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">YouTube | canal secundario</p>
              <p class="text-gray-400">Emisiones en directo destacadas</p>
            </div>
          </div>
        </a>
      </div>
    </section>
    <section class="mx-auto mt-10 max-w-4xl text-left">
      <h3 class="mb-4 text-2xl font-bold">Destacado</h3>
      <div class="space-y-6">
        <a href="#" class="block rounded-lg bg-gray-800 p-6 hover:bg-gray-800">
          <div class="flex items-center">
            <i class="fas fa-database mr-3 text-gray-300"></i>
            <p class="font-bold text-gray-100">Curso de SQL</p>
            <!-- Color del texto -->
          </div>
        </a>
        <a href="#" class="block rounded-lg bg-gray-800 p-6 hover:bg-gray-800">
          <div class="flex items-center">
            <i class="fab fa-python mr-3 text-gray-300"></i>
            <p class="font-bold text-gray-100">Curso de Python Web</p>
          </div>
        </a>
      </div>
    </section>
  </main>