  <main class="container mx-auto mt-10 flex-grow px-8 sm:px-24 lg:px-64">
    <section class="mx-auto mt-10 max-w-4xl text-left">
      <div class="items-left flex flex-col">
        <div class="items-left flex text-left">
          <img src="https://pbs.twimg.com/profile_images/1615088228968661014/ckv0lEyI.jpg" alt="AlexDevUwU" class="h-24 w-24 rounded-full border-4 border-blue-400" />
          <div class="ml-4">
            <h2 class="text-3xl font-semibold">Alex Verde</h2>
            <p class="text-base text-blue-400">@alexdevuwu</p>
            <div class="mt-2 flex space-x-4">
              <a href="https://github.com/alexdeveloperuwu" class="text-xl text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
                <i class="fab fa-github"></i>
              </a>
              <a href="https://twitter.com/alexdevuwu" class="text-xl text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://twitch.tv/alexdevuwu" class="text-xl text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
                <i class="fab fa-twitch"></i>
              </a>
              <a href="https://kick.com/alexdevuwu" class="text-xl text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
                <i class="fa-brands fa-kickstarter-k"></i>
              </a>
              <a href="https://www.youtube.com/channel/UCxcD9py3y1df8CWzT5VsZMw" class="text-xl text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <p class="mx-auto mt-10 max-w-4xl text-left">¡Hola! Soy Alex, un apasionado programador, gamer y streamer en mi tiempo libre. Principalmente desarrollo páginas web y despliego servidores de diversos tipos, aunque también he creado aplicaciones de escritorio. Tengo una especial afición por experimentar con Node.js y otras tecnologías. Paso muchas horas en mi ordenador, trabajando en varios proyectos, siempre acompañado de mi café y mi entusiasmo por aprender y descubrir cosas nuevas!</p>
    </section>
    <section class="mx-auto mt-10 max-w-4xl text-left">
      <h3 class="mb-4 text-2xl font-bold">Proyectos</h3>
      <div class="space-y-6">
        <!--
        <a href="#" class="block rounded-lg bg-blue-800 p-6 hover:bg-blue-700">
          <div class="flex items-center">
            <i class="fas fa-book-open mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">Cursos gratis</p>
              <p class="text-gray-400">Consulta mis tutoriales para aprender programación</p>
            </div>
          </div>
        </a>
        -->
        <a href="https://azirax.site" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
          <div class="flex items-center">
            <i class="fa-solid fa-code mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">Azirax</p>
              <p class="text-gray-400">Un simple pero amplio bot de Discord que ofrece una amplia gama de comandos. También permite a los usuarios interactuar de manera creativa y entretenida con otros miembros de la comunidad.</p>
            </div>
          </div>
        </a>
        <a href="https://github.com/AlexDeveloperUwU/liberteis" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
          <div class="flex items-center">
            <i class="fa-solid fa-code mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">LiberTeis</p>
              <p class="text-gray-400">Una pequeña web que permite la gestión de eventos, material y espacios de la biblioteca del IES de Teis, aunque se puede aplicar en otros ámbitos.</p>
            </div>
          </div>
        </a>
        <a href="https://github.com/AlexDeveloperUwU/miniprojects" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
          <div class="flex items-center">
            <i class="fa-solid fa-code mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">Mini Projects</p>
              <p class="text-gray-400">Mini proyectos que voy haciendo por distintos motivos y que son tan pequeños que no necesitan un repo para ellos solos
              </p>
            </div>
          </div>
        </a>
        <a href="https://github.com/AlexDeveloperUwU" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
          <div class="flex items-center">
            <i class="fab fa-github mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">Otros proyectos</p>
              <p class="text-gray-400">Quieres ver otros proyectos que tengo? Si es así, pásate por mi GitHub! Tiene otros tantos proyectos no tan destacables pero que pueden llegar a ser de tu interés :D</p>
            </div>
          </div>
        </a>
      </div>
    </section>
    <section class="mx-auto mt-10 max-w-4xl text-left">
      <h3 class="mb-4 text-2xl font-bold">Plataformas de contenido</h3>
      <div class="space-y-6">
        <a href="https://twitch.tv/alexdevuwu" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
          <div class="flex items-center">
            <i class="fab fa-twitch mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">Twitch</p>
              <p class="text-gray-400">Aquí realizo directos más "profesionales", preparados con antelación y notificados previamente. Ofrezco contenido variado y entretenido para mi comunidad, incluyendo reviews, gameplays, temas de sistemas y programación.</p>
            </div>
          </div>
        </a>
        <a href="https:/kick.com/alexdevuwu" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
          <div class="flex items-center">
            <i class="fa-brands fa-kickstarter-k mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">Kick</p>
              <p class="text-gray-400">Aquí realizo directos más "informales", con menos o nula antelación y planificación. También ofrezco contenido variado y entretenido para mi comunidad, de tipos similares a los que suelo realizar en Twitch.</p>
            </div>
          </div>
        </a>
        <a href="https://www.youtube.com/channel/UCxcD9py3y1df8CWzT5VsZMw" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
          <div class="flex items-center">
            <i class="fab fa-youtube mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">YouTube</p>
              <p class="text-gray-400">Aquí subo contenido más "elaborado", con más trabajo detrás. Suelen ser tutoriales, vídeos de cosas de programación o sistemas. Quizás suba también resubidas de mis directos pero editados.</p>
            </div>
          </div>
        </a>
      </div>
    </section>
    <section class="mx-auto mt-10 max-w-4xl text-left">
      <h3 class="mb-4 text-2xl font-bold">Calendario de contenido</h3>
      <div id="content" class="rounded-lg bg-gray-800 p-6"></div>
    </section>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const contentContainer = document.getElementById('content');
        const currentDate = new Date();
        const entradas = [{
            plataforma: 'Twitch',
            fecha: '2024-07-18T20:00:00'
          },
          {
            plataforma: 'YouTube',
            fecha: '2024-07-19T18:00:00'
          },
          {
            plataforma: 'Kick',
            fecha: '2024-07-22T15:00:00'
          },
          {
            plataforma: 'Twitch',
            fecha: '2024-07-25T19:00:00'
          },
          {
            plataforma: 'YouTube',
            fecha: '2024-08-04T21:00:00'
          }
        ];

        function isMobileOrTablet() {
          return window.innerWidth <= 768;
        }

        function renderCalendar(date) {
          const month = date.getMonth();
          const year = date.getFullYear();

          date.setDate(1);
          const firstDayIndex = (date.getDay() === 0) ? 6 : date.getDay() - 1;
          const lastDay = new Date(year, month + 1, 0).getDate();
          const prevLastDay = new Date(year, month, 0).getDate();
          const lastDayIndex = new Date(year, month + 1, 0).getDay();
          const nextDays = (lastDayIndex === 6) ? 0 : 7 - lastDayIndex - 1;

          const months = [
            "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
          ];

          let calendarHTML = `
      <div class="flex flex-col sm:flex-row justify-between items-center mb-4">
        <button id="prevMonth" class="bg-gray-700 text-white px-4 py-2 rounded mb-2 sm:mb-0 sm:mr-2 hover:bg-gray-600">Anterior</button>
        <h2 class="text-2xl font-bold mb-2 sm:mb-0">${months[month]} ${year}</h2>
        <button id="nextMonth" class="bg-gray-700 text-white px-4 py-2 rounded hover:bg-gray-600">Siguiente</button>
      </div>
      <div class="grid grid-cols-7 gap-1 text-center text-gray-300">
        <div>Lun</div>
        <div>Mar</div>
        <div>Mié</div>
        <div>Jue</div>
        <div>Vie</div>
        <div>Sáb</div>
        <div>Dom</div>
      </div>
      <div class="grid grid-cols-7 gap-1 text-center">
    `;

          calendarHTML += [...Array(firstDayIndex).keys()].map(i => `
      <div class="p-2 relative">
        <div class="text-gray-500">${prevLastDay - firstDayIndex + 2 + i}</div>
      </div>
    `).join('');

          calendarHTML += [...Array(lastDay).keys()].map(i => {
            const day = i + 1;
            const dateStr = `${year}-${String(month + 1).padStart(2, '0')}-${String(day).padStart(2, '0')}`;
            const events = entradas.filter(d => new Date(d.fecha).toLocaleDateString('es-ES') === new Date(dateStr).toLocaleDateString('es-ES'));
            const isToday = new Date().toDateString() === new Date(dateStr).toDateString();

            let eventHtml = '';
            events.forEach(event => {
              let bgColorClass = '';
              if (event.plataforma === 'Twitch') {
                bgColorClass = 'bg-purple-600';
              } else if (event.plataforma === 'YouTube') {
                bgColorClass = 'bg-red-600';
              } else if (event.plataforma === 'Kick') {
                bgColorClass = 'bg-green-600';
              }

              eventHtml += `
          <div class="mt-1 ${bgColorClass} text-xs p-1 rounded">
            ${new Date(event.fecha).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })}
          </div>
        `;
            });

            if (events.length > 0) {
              return `
          <div class="p-2 relative bg-gray-900 text-white rounded">
            <div class="font-bold ${isToday ? 'text-blue-500' : ''}">${day}</div>
            ${eventHtml}
          </div>
        `;
            } else {
              return `
          <div class="p-2 relative">
            <div class="font-bold ${isToday ? 'text-blue-500' : ''}">${day}</div>
          </div>
        `;
            }
          }).join('');

          calendarHTML += [...Array(nextDays).keys()].map(i => `
      <div class="p-2 relative">
        <div class="text-gray-500">${i + 1}</div>
      </div>
    `).join('');

          calendarHTML += `
      </div>
    `;

          contentContainer.innerHTML = calendarHTML;

          document.getElementById('prevMonth').addEventListener('click', () => {
            date.setMonth(date.getMonth() - 1);
            renderCalendar(new Date(date));
          });

          document.getElementById('nextMonth').addEventListener('click', () => {
            date.setMonth(date.getMonth() + 1);
            renderCalendar(new Date(date));
          });
        }

        function renderEventCards(date) {
          const month = date.getMonth();
          const year = date.getFullYear();
          const now = new Date();

          const events = entradas.filter(event => {
            const eventDate = new Date(event.fecha);
            return eventDate >= now && eventDate.getMonth() === month && eventDate.getFullYear() === year;
          });

          const months = [
            "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
          ];

          let cardsHTML = `
      <div class="flex justify-center items-center mb-4">
        <h2 class="text-2xl font-bold">${months[month]} ${year}</h2>
      </div>
      <div class="space-y-4">
    `;

          if (events.length === 0) {
            cardsHTML += `
        <div class="text-center py-4">No hay eventos programados para este mes.</div>
      `;
          } else {
            events.forEach(event => {
              const eventDate = new Date(event.fecha);
              const dateStr = eventDate.toLocaleDateString('es-ES', {
                weekday: 'long',
                day: 'numeric',
                month: 'long'
              }).toUpperCase();
              const timeStr = eventDate.toLocaleTimeString([], {
                hour: '2-digit',
                minute: '2-digit'
              });

              let bgColorClass = '';
              let platformIcon = '';
              let platformUrl = '';

              if (event.plataforma === 'Twitch') {
                bgColorClass = 'bg-purple-500';
                bgColor = 'purple';
                platformIcon = 'fa-twitch';
                platformUrl = 'https://www.twitch.tv/alexdevuwu';
              } else if (event.plataforma === 'YouTube') {
                bgColorClass = 'bg-red-500';
                bgColor = 'red';
                platformIcon = 'fa-youtube';
                platformUrl = 'https://www.youtube.com/alexdevuwu';
              } else if (event.plataforma === 'Kick') {
                bgColorClass = 'bg-green-500';
                bgColor = 'green';
                platformIcon = 'fa-kickstarter-k';
                platformUrl = 'https://kick.com/alexdevuwu';
              }

              cardsHTML += `
          <a href="${platformUrl}" class="block rounded-lg ${bgColorClass} p-6 hover:bg-blue-700">
            <div class="flex items-center">
              <i class="fa-brands ${platformIcon} mr-3 text-gray-300"></i>
              <div>
                <p class="font-bold text-gray-100">Directo en ${event.plataforma}</p>
                <p class="text-gray-100">${dateStr} a las ${timeStr}</p>
              </div>
            </div>
          </a>
        `;
            });
          }

          cardsHTML += `
      </div>
    `;

          contentContainer.innerHTML = cardsHTML;
        }

        function renderContent() {
          if (isMobileOrTablet()) {
            renderEventCards(new Date(currentDate));
          } else {
            renderCalendar(new Date(currentDate));
          }
        }

        window.addEventListener('resize', renderContent);
        renderContent();
      });
    </script>
  </main>