<main class="container mx-auto p-6 max-w-5xl">
  <section class="bg-background-800 p-6 rounded-lg shadow-lg">
    <div class="flex items-center space-x-4">
      <img src="/img/profile.png" alt="AlexDevUwU" class="w-16 h-16 rounded-full">
      <div>
        <h2 class="text-2xl font-bold text-primary-500">Alex Verde</h2>
        <p class="text-text-500">@AlexDevUwU</p>
      </div>
    </div>
    <p class="mt-4">Un joven desarrollador detallista apasionado por el mundo de la informática y tecnología.</p>
  </section>
  <section class="bg-background-800 p-6 rounded-lg shadow-lg mt-6">
    <h3 class="text-xl font-bold text-primary-500">Sobre mi</h3>
    <p class="mt-4">¡Hola! Soy Alex, un programador, gamer y streamer apasionado. Me encanta crear páginas web y servidores de videojuegos, y disfruto experimentando con tecnologías web y Node.js.</p>
    <p class="mt-4">Soy una persona con un gran corazón y siempre dispuesta a ayudar. Aunque no soy muy sociable, me encanta conocer gente nueva y compartir experiencias.</p>
    <p class="mt-4">Paso muchas horas en mi ordenador, trabajando en varios proyectos, con una taza de café a mi lado y muchas ganas de aprender. Soy trabajador, fiel, servicial y muy organizado (¡gracias Notion!).</p>
    <p class="mt-4">¿Deseas conocerme mejor? Te recomiendo leer <a href="?view=about-me" class="underline">más acerca de mi</a>, donde hablo más sobre mi y quién soy, enfocándome sobre todo en mi camino por el mundo de la informática</p>
  </section>

</main>