<main class="container mx-auto mt-10 flex-grow px-8 sm:px-24 lg:px-64 hidden">
  <!-- Secci칩n Un poco sobre m칤 -->
  <section class="mx-auto mt-10 max-w-4xl text-center">
    <div class="items-center flex flex-col">
      <div class="items-center flex text-left">
        <img src="/img/logoSmall.webp" alt="Alex Verde" class="h-24 w-24 rounded-full border-4 border-blue-400" />
        <div class="ml-4">
          <h2 class="text-3xl font-semibold">Alex Verde</h2>
        </div>
      </div>
    </div>
  </section>

  <!-- Secci칩n Un poco sobre m칤 -->
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-user mr-3 text-gray-300"></i>
      Un poco sobre m칤
    </h3>
    <div class="space-y-4">
      <div class="mt-0 p-6 bg-gray-800 rounded-lg shadow-lg">
        <p class="font-agrandir text-gray-300 text-left">
          춰Hola! Soy Alex, un apasionado programador, gamer y streamer en mis ratos libres. Me especializo en desarrollo web y administraci칩n de servidores, aunque tambi칠n disfruto creando aplicaciones de escritorio. Soy un entusiasta de Node.js y otras tecnolog칤as, y siempre estoy frente a mi ordenador, trabajando en proyectos con un caf칠 en mano, acompa침ado de mi insaciable curiosidad por aprender.
        </p>
      </div>
      <div class="mt-0 p-6 bg-gray-800 rounded-lg shadow-lg">
        <p class="font-agrandir text-gray-300 text-left">
          Estudio Desarrollo de Aplicaciones Web, un camino que eleg칤 porque la inform치tica ha sido mi pasi칩n desde siempre. Desde peque침o, me encantaba explorar c칩mo funcionaban los dispositivos y crear peque침os proyectos. Ahora, con mi formaci칩n, estoy adquiriendo conocimientos actualizados y profundizando en el desarrollo web para estar preparado para los desaf칤os tecnol칩gicos.
        </p>
      </div>
      <div class="mt-0 p-6 bg-gray-800 rounded-lg shadow-lg">
        <p class="font-agrandir text-gray-300 text-left">
          Entre mis hobbies destacan la fotograf칤a, la programaci칩n como una aut칠ntica pasi칩n, y los videojuegos. Sin embargo, prefiero invertir mi tiempo en seguir aprendiendo y explorando el fascinante mundo de la inform치tica y la tecnolog칤a, siempre buscando nuevas maneras de innovar y mejorar mis habilidades.
        </p>
      </div>
    </div>
  </section>

  <!-- Secci칩n Mis Estudios -->
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-graduation-cap mr-3 text-gray-300"></i>
      Mis Estudios
    </h3>
    <div class="space-y-4">
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg flex items-center">
        <i class="fas fa-laptop-code mr-4 text-gray-300 text-xl"></i>
        <div>
          <h4 class="font-bold text-gray-100">Desarrollo de Aplicaciones Web</h4>
          <p class="text-gray-300 font-agrandir">IES de Teis | 2023 - Actualidad</p>
          <p class="text-gray-300 font-agrandir">Creaci칩n, implantaci칩n y mantenimiento de aplicaciones web seguras y accesibles.</p>
        </div>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg flex items-center">
        <i class="fas fa-book mr-4 text-gray-300 text-xl"></i>
        <div>
          <h4 class="font-bold text-gray-100">Bachillerato en Ciencias (cursando F칤sica)</h4>
          <p class="text-gray-300 font-agrandir">IES de S* (Para mayor privacidad, cont치ctame si deseas saberlo) | 2021 - 2023</p>
          <p class="text-gray-300 font-agrandir">Formaci칩n en ciencias con 칠nfasis en matem치ticas y f칤sica.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Secci칩n idiomas -->
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-language mr-3 text-gray-300"></i>
      Idiomas
    </h3>
    <div class="space-y-4">
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg flex items-center">
        <i class="fas fa-language mr-4 text-gray-300 text-xl"></i>
        <div>
          <h4 class="font-bold text-gray-100">Espa침ol</h4>
          <p class="text-gray-300 font-agrandir">Nivel: Nativo - Nac칤 y vivo en Espa침a</p>
        </div>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg flex items-center">
        <i class="fas fa-language mr-4 text-gray-300 text-xl"></i>
        <div>
          <h4 class="font-bold text-gray-100">Gallego</h4>
          <p class="text-gray-300 font-agrandir">Nivel: Nativo - Nac칤 y vivo en Galicia</p>
        </div>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg flex items-center">
        <i class="fas fa-language mr-4 text-gray-300 text-xl"></i>
        <div>
          <h4 class="font-bold text-gray-100">Ingl칠s</h4>
          <p class="text-gray-300 font-agrandir">Nivel: B1 - Nivel obtenido en Bachillerato y por cuenta propia</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Secci칩n Certificados y Reconocimientos -->
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-certificate mr-3 text-gray-300"></i>
      Certificados y Reconocimientos
    </h3>
    <div class="space-y-4">
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg flex items-center">
        <i class="fas fa-server mr-4 text-gray-300 text-xl"></i>
        <div>
          <h4 class="font-bold text-gray-100">Certificado en caracter칤sticas y utilidades de los servidores NAS</h4>
          <p class="text-gray-300 font-agrandir">Certificado obtenido en 2023 por la creaci칩n desde 0 de un servidor NAS y por llevar a cabo una formaci칩n acerca del mismo.</p>
        </div>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg flex items-center">
        <i class="fas fa-file-lines mr-4 text-gray-300 text-xl"></i>
        <div>
          <h4 class="font-bold text-gray-100">Carta de recomendaci칩n de Irene Alonso Gasalla</h4>
          <p class="text-gray-300 font-agrandir">Carta obtenida en 2023 por ser un estudiante trabajador, con excelentes habilidades en ingl칠s y tecnolog칤a, adem치s de ser compasivo y ayudar a sus compa침eros y profesores.</p>
        </div>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg flex items-center">
        <i class="fas fa-file-lines mr-4 text-gray-300 text-xl"></i>
        <div>
          <h4 class="font-bold text-gray-100">Carta de recomendaci칩n de Sa칤nza Mart칤nez L칩pez</h4>
          <p class="text-gray-300 font-agrandir">Carta obtenida en 2023 por sus destacadas habilidades t칠cnicas en inform치tica, su liderazgo en proyectos colaborativos y su constante apoyo a sus compa침eros.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Secci칩n Tech Stack -->
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-tools mr-3 text-gray-300"></i>
      Mi Tech Stack
    </h3>
    <div class="mb-6">
      <label for="projectType" class="block text-gray-300 font-bold mb-2">Selecciona el tipo de proyecto:</label>
      <select id="projectType" class="p-2 bg-gray-700 text-gray-200 rounded-md w-full">
        <option value="noUI">Proyecto sin web</option>
        <option value="webUI">P치gina web / Proyecto con web</option>
        <option value="java">Proyecto hecho con Java</option>
      </select>
    </div>
    <div id="stackInfo" class="space-y-4">
    </div>
  </section>

  <!-- Secci칩n Mis conocimientos -->
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-tools mr-3 text-gray-300"></i>
      Conocimientos
    </h3>
    <div class="space-y-4">
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg flex items-center">
        <i class="fas fa-code mr-4 text-gray-300 text-xl"></i>
        <div>
          <h4 class="font-bold text-gray-100">Lenguajes de Programaci칩n</h4>
          <p class="text-gray-300 font-agrandir">HTML, CSS, JavaScript, Python, SQL (游닄), Java (游닄)</p>
        </div>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg flex items-center">
        <i class="fas fa-desktop mr-4 text-gray-300 text-xl"></i>
        <div>
          <h4 class="font-bold text-gray-100">Entornos de Desarrollo</h4>
          <p class="text-gray-300 font-agrandir">Visual Studio Code, IntelliJ IDEA, NetBeans (游닄)</p>
        </div>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg flex items-center">
        <i class="fas fa-cogs mr-4 text-gray-300 text-xl"></i>
        <div>
          <h4 class="font-bold text-gray-100">Frameworks</h4>
          <p class="text-gray-300 font-agrandir">VuePress, VitePress, Bootstrap, Express, Tailwind CSS, EJS</p>
        </div>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg flex items-center">
        <i class="fas fa-database mr-4 text-gray-300 text-xl"></i>
        <div>
          <h4 class="font-bold text-gray-100">Bases de Datos</h4>
          <p class="text-gray-300 font-agrandir">SQLite, MySQL (游닄)</p>
        </div>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg flex items-center">
        <i class="fas fa-box mr-4 text-gray-300 text-xl"></i>
        <div>
          <h4 class="font-bold text-gray-100">Herramientas de Containerizaci칩n y Virtualizaci칩n</h4>
          <p class="text-gray-300 font-agrandir">Docker, WSL (游닄)</p>
        </div>
      </div>
      <div class="p-6 bg-gray-800 rounded-lg shadow-lg flex items-center">
        <i class="fas fa-laptop mr-4 text-gray-300 text-xl"></i>
        <div>
          <h4 class="font-bold text-gray-100">Sistemas Operativos</h4>
          <p class="text-gray-300 font-agrandir">Windows, Linux, Android</p>
        </div>
      </div>
    </div>
  </section>
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-info-circle mr-3 text-gray-300"></i>
      Informaciones extras
    </h3>
    <div class="space-y-4">
      <a href="/extras?view=timeline" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fas fa-calendar-alt mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Mi L칤nea de Tiempo</p>
            <p class="text-gray-300 font-agrandir">Consulta todos los proyectos y actividades recientes en mi l칤nea de tiempo. Haz clic aqu칤 para ver m치s detalles.</p>
          </div>
        </div>
      </a>
    </div>
  </section>

  <!-- Secci칩n de scripts -->
  <script src="/js/minified/content/techStack.js"></script>
  <%- include(`../scripts.ejs`) %>
</main>