<main class="container mx-auto mt-10 flex-grow px-8 sm:px-24 lg:px-32 xl:px-48 hidden">
  <section class="mx-auto mt-10 max-w-6xl text-left">
    <div class="items-left flex flex-col">
      <div class="items-left flex text-left">
        <div class="relative">
          <img id="profileImage" src="/img/logoSmall.webp" alt="AlexDevUwU" class="h-24 w-24 rounded-full border-4 border-blue-400" />
        </div>
        <div class="ml-4">
          <h2 class="text-3xl font-semibold">Alex Verde</h2>
          <p class="text-base text-blue-400">@alexdevuwu</p>
          <div id="birthday" class="mt-2 space-x-4 hidden flex">
            <p id="birthday-message" class="text-base text-gray-300"></p>
          </div>
          <div id="icons" class="mt-2 flex space-x-4">
            <a href="https://github.com/alexdeveloperuwu" aria-label="GitHub" class="text-lg text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://x.com/AlexDevUwU" aria-label="Twitter" class="text-lg text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://bsky.app/profile/alexdevuwu.com" aria-label="BlueSky" class="text-lg text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
              <i class="fab fa-bluesky"></i>
            </a>
            <a href="https://twitch.tv/alexdevuwu" aria-label="Twitch" class="text-lg text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
              <i class="fab fa-twitch"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCxcD9py3y1df8CWzT5VsZMw" aria-label="YouTube" class="text-lg text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="https://kick.com/alexdevuwu" aria-label="Kick" class="text-lg text-gray-300 transition duration-300 ease-in-out transform hover:text-white hover:scale-110">
              <i class="fa-brands fa-kickstarter-k"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <p class="mx-auto mt-10 max-w-6xl text-left font-agrandir">¡Hola! Soy Alex, un apasionado programador, gamer y streamer en mi tiempo libre. Principalmente desarrollo páginas web y despliego servidores de diversos tipos, aunque también he creado aplicaciones de escritorio. Tengo una especial afición por experimentar con Node.js y otras tecnologías. Paso muchas horas en mi ordenador, trabajando en varios proyectos, siempre acompañado de mi café y mi entusiasmo por aprender y descubrir cosas nuevas!</p>
    <br>
    <a href="/?view=aboutme" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
      <div class="flex items-center">
        <i class="fas fa-user mr-3 text-gray-300"></i>
        <div>
          <p class="font-bold text-gray-100">Sobre mi</p>
          <p class="text-gray-300 font-agrandir">¿Quieres saber más acerca de mi, cómo trabajo o mi tech stack? Entonces haz clic aquí.</p>
        </div>
      </div>
    </a>
  </section>
  <section class="mx-auto mt-10 max-w-6xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fab fa-github mr-3 text-gray-300"></i>
      Proyectos
    </h3>
    <div id="projects-container" class="space-y-4">
    </div>
  </section>
  <section class="mx-auto mt-10 max-w-6xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-share-alt mr-3 text-gray-300"></i>
      Plataformas de contenido
    </h3>
    <div class="space-y-4">
      <a href="/?view=twitch" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fab fa-twitch mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Twitch</p>
            <p class="text-gray-300 font-agrandir">Aquí realizo todos mis directos, desde gaming y just chatting hasta directos más específicos sobre tecnología como montaje de ordenadores.</p>
          </div>
        </div>
      </a>
      <a href="/?view=kick" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fa-brands fa-kickstarter-k mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Kick</p>
            <p class="text-gray-300 font-agrandir">Plataforma donde realizo restreamings de mis directos de Twitch, la utilizo como plataforma secundaria.</p>
          </div>
        </div>
      </a>
      <a href="/?view=youtube" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fab fa-youtube mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">YouTube</p>
            <p class="text-gray-300 font-agrandir">Aquí subo contenido más "elaborado", como tutoriales y vídeos sobre programación o sistemas. También podría subir resubidas editadas de mis directos.</p>
          </div>
        </div>
      </a>
    </div>
  </section>
  <section id="calendarSectionId" class="mx-auto mt-10 max-w-6xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-calendar mr-3 text-gray-300"></i>
      Calendario
    </h3>
    <div class="space-y-4">
      <div id="toggleCalendarCard" class="block rounded-lg bg-gray-800 p-6 cursor-pointer transition-colors duration-200">
        <div class="flex items-center">
          <i class="fa-solid fa-calendar mr-3 text-gray-300"></i>
          <div>
            <p id="toggleText" class="font-bold text-gray-100">Mostrar Calendario</p>
          </div>
        </div>
      </div>
      <div id="eventDetails" class="rounded-lg bg-gray-800 p-6 hover:bg-blue-700 hidden">
        <div class="flex items-center">
          <i id="platformIcon" class="fab fa-youtube mr-3 text-gray-300"></i>
          <div>
            <p id="platformName" class="font-bold text-gray-100 font-agrandir">PLATAFORMA</p>
            <p id="eventDescription" class="text-gray-300 font-agrandir">DESCRIPCIÓN</p>
          </div>
        </div>
      </div>
      <div id="calendarCard" class="rounded-lg bg-gray-800 p-6 hidden">
        <div id="calendar" class="mt-4"></div>
      </div>
    </div>
  </section>
  <section class="mx-auto mt-10 max-w-6xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-folder-open mr-3 text-gray-300"></i>
      Contenido adicional
    </h3>
    <div class="space-y-4">
      <a href="/extras?view=index" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fas fa-folder-plus mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Explora el contenido adicional de la web!</p>
            <p class="text-gray-300 font-agrandir">
              He añadido una sección de contenido adicional relacionado con mis proyectos y aspectos personales. Este contenido no sigue el estilo "portafolio", con lo que se encuentra otra sección.
            </p>
          </div>
        </div>
      </a>
    </div>
  </section>
  <section class="mx-auto mt-10 max-w-6xl text-left">
    <h3 class="mb-4 text-2xl font-bold text-white flex items-center">
      <i class="fas fa-envelope mr-3 text-gray-300"></i>
      Contacta conmigo
    </h3>
    <div class="space-y-4">
      <a href="#" id="copyEmail" class="block rounded-lg border border-gray-800 bg-gray-800 p-6 hover:bg-blue-700 cursor-pointer transition-all duration-300 ease-in-out">
        <div class="flex items-center">
          <i class="fas fa-envelope mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Contactarme por correo electrónico</p>
            <p class="text-gray-300 font-agrandir">Haz clic aquí para copiar mi e-mail de contacto!</p>
          </div>
        </div>
      </a>
      <a href="#" id="copyDiscord" class="block rounded-lg border border-gray-800 bg-gray-800 p-6 hover:bg-blue-700 cursor-pointer transition-all duration-300 ease-in-out">
        <div class="flex items-center">
          <i class="fab fa-discord mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Contactarme por Discord (ahora estoy <span id="myDiscordStatus"></span>)</p>
            <p class="text-gray-300 font-agrandir">Haz clic aquí para copiar mi nombre de usuario!</p>
          </div>
        </div>
      </a>
      <div id="formContainerDiv" class="bg-gray-800 rounded-lg overflow-hidden shadow-lg">
        <div class="p-6">
          <h4 class="mb-4 text-xl font-bold text-white flex items-center">
            <i class="fas fa-envelope mr-3 text-gray-300"></i>
            Formulario de contacto
          </h4>
          <form id="contactForm" method="POST" class="space-y-4">
            <div>
              <label for="name" class="block text-sm font-bold text-gray-100">Nombre / Nick</label>
              <input type="text" id="name" name="name" class="font-agrandir mt-1 block w-full bg-gray-700 border-gray-600 rounded-md shadow-sm focus:border-blue-400 focus:ring focus:ring-blue-400 focus:ring-opacity-50 text-white" placeholder="¿Cómo te gustaría que te llame?" required>
            </div>
            <div>
              <label for="email" class="block text-sm font-bold text-gray-100">Correo electrónico de contacto</label>
              <input type="email" id="email" name="email" class="font-agrandir mt-1 block w-full bg-gray-700 border-gray-600 rounded-md shadow-sm focus:border-blue-400 focus:ring focus:ring-blue-400 focus:ring-opacity-50 text-white" placeholder="Introduce tu correo electrónico para que pueda responderte" required>
            </div>
            <div>
              <label for="message" class="block text-sm font-bold text-gray-100">Mensaje</label>
              <textarea id="message" name="message" rows="4" class="font-agrandir mt-1 block w-full bg-gray-700 border-gray-600 rounded-md shadow-sm focus:border-blue-400 focus:ring focus:ring-blue-400 focus:ring-opacity-50 text-white" maxlength="3584" placeholder="Escribe aquí el mensaje que deseas enviarme" required></textarea>
            </div>
            <div>
              <button id="sendContactForm" type="submit" class="inline-block px-4 py-2 bg-blue-700 text-white rounded hover:bg-blue-600">Enviar mensaje</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script src="/js/minified/content/birthday.js"></script>
  <script src="/js/minified/content/calendar.js"></script>
  <script src="/js/minified/content/form.js" defer></script>
  <script src="/js/minified/content/loadProjects.js"></script>
  <script src="/js/minified/content/copyContact.js" defer></script>
  <%- include(`../scripts.ejs`) %>
</main>