<main class="container mx-auto mt-10 flex-grow px-8 sm:px-24 lg:px-64 hidden">
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fa-brands fa-kickstarter-k mr-3 text-gray-300"></i>
      Directos en Kick
    </h3>
    <div class="space-y-6">
      <a href="https://kick.com/alexdevuwu" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fa-brands fa-kickstarter-k mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Kick</p>
            <p class="text-gray-400 font-agrandir">Plataforma donde realizo restreamings de mis directos de Twitch, la tengo como una plataforma secundaria xD</p>
          </div>
        </div>
      </a>
      <div id="kickCard" class="rounded-lg bg-gray-800 p-6">
        <div class="kick" style="display: none;">
          <div class="kick-video">
            <iframe src="" frameborder="0" allowfullscreen="true" scrolling="no" class="responsive-iframe"></iframe>
          </div>
          <div class="kick-chat">
            <iframe src="" frameborder="0" scrolling="no" class="responsive-iframe"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección de scripts -->
  <script src="/js/minified/kick.js"></script>
  <%- include(`../scripts.ejs`) %>
</main>