<main class="container mx-auto mt-10 flex-grow px-8 sm:px-24 lg:px-64 hidden">
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <div class="items-left flex flex-col">
      <div class="items-left flex text-left">
        <div class="relative">
          <img id="profileImage" src="/img/logoSmall.webp" alt="AlexDevUwU" class="h-24 w-24 rounded-full border-4 border-blue-400" />
        </div>
        <div class="ml-4 flex flex-col justify-center">
          <h2 class="text-3xl font-semibold">Alex Verde</h2>
          <p class="text-base text-blue-400">@alexdevuwu</p>
        </div>
      </div>
    </div>
  </section>
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-code mr-3 text-gray-300"></i>
      Desarrollo
    </h3>
    <div class="space-y-4">
      <a href="https://github.com/AlexDeveloperUwU" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fab fa-github mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">GitHub</p>
            <p class="text-gray-300 font-agrandir">Aquí podrás encontrar mi perfil de GitHub, plataforma donde podrás encontrar los proyectos que tenga open source.</p>
          </div>
        </div>
      </a>
      <a href="https://wakatime.com/@AlexDevUwU" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="far fa-clock mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">WakaTime</p>
            <p class="text-gray-300 font-agrandir">Aquí podrás ver mis estadísticas de programación, entre ellas lenguajes en los que trabajo, cuanto tiempo y cosas como esa!</p>
          </div>
        </div>
      </a>
    </div>
  </section>
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-share-alt mr-3 text-gray-300"></i>
      Redes Sociales
    </h3>
    <div class="space-y-4">
      <a href="https://x.com/AlexDevUwU" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fab fa-twitter mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Twitter / X</p>
            <p class="text-gray-300 font-agrandir">Mi red social principal y en la que más activo estoy. Suelo postear contenido de vez en cuando, sobre todo relacionado con mis proyectos o cosas que me parezcan interesantes.</p>
          </div>
        </div>
      </a>
      <a href="https://bsky.app/profile/alexdevuwu.com" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fab fa-bluesky mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">BlueSky</p>
            <p class="text-gray-300 font-agrandir">Red social que tengo como secundaria. No estoy tan activo por allí, pero la tengo por si pasa algo con Twitter (a estas alturas, quién sabe!)</p>
          </div>
        </div>
      </a>
      <a href="https://instagram.com/alexdevuwu" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fab fa-instagram mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Instagram</p>
            <p class="text-gray-300 font-agrandir">Casi no uso Instagram, pero suele ser para subir avisos de directo, plannings y cositas similares!</p>
          </div>
        </div>
      </a>
    </div>
  </section>
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-clapperboard mr-3 text-gray-300"></i>
      Plataformas de contenido
    </h3>
    <div class="space-y-4">
      <a href="https://twitch.tv/alexdevuwu" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fab fa-twitch mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Twitch</p>
            <p class="text-gray-300 font-agrandir">Aquí realizo todos mis directos, desde gaming y just chatting hasta directos más específicos y elaborados como por ejemplo sobre tecnología o montaje de ordenadores.</p>
          </div>
        </div>
      </a>
      <a href="https://www.youtube.com/channel/UCxcD9py3y1df8CWzT5VsZMw" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fab fa-youtube mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">YouTube</p>
            <p class="text-gray-300 font-agrandir">Aquí subo contenido más "elaborado", como tutoriales y vídeos sobre programación o sistemas. Intento ser accesible para todos los públicos mientras mantengo la diversión en ellos.</p>
          </div>
        </div>
      </a>
      <a href="https://kick.com/alexdevuwu" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fab fa-kickstarter-k mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Kick</p>
            <p class="text-gray-300 font-agrandir">Aquí realizo algún directo al mismo tiempo que en Twitch, usando Kick como una plataforma "backup" y para darme a conocer sin abandonar a mi comunidad original.</p>
          </div>
        </div>
      </a>
    </div>
  </section>
  <%- include(`../scripts.ejs`) %>
</main>