<main class="container mx-auto mt-10 flex-grow px-8 sm:px-24 lg:px-64 hidden">
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fab fa-youtube mr-3 text-gray-300 text-3xl"></i>
      Mis vídeos de YouTube
    </h3>
    <div class="space-y-4">
      <a href="https://www.youtube.com/channel/UCxcD9py3y1df8CWzT5VsZMw" class="block rounded-lg bg-gray-800 p-8 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fab fa-youtube mr-4 text-gray-300 text-3xl"></i>
          <div>
            <p class="font-bold text-gray-100 text-xl">YouTube</p>
            <p class="text-gray-400 font-agrandir text-lg">Aquí subo contenido más "elaborado", con más trabajo detrás. Suelen ser tutoriales, vídeos de cosas de programación o sistemas. Quizás suba también resubidas de mis directos pero editados.</p>
          </div>
        </div>
      </a>
      <div id="youtubeCard1" class="rounded-lg bg-gray-800 p-8 h-[600px] flex flex-col">
        <h4 class="text-xl font-bold text-gray-100 mb-4">Último vídeo</h4>
        <div class="flex-grow">
          <lite-youtube vnum="0" class="w-full h-full">
            <a class="lite-youtube-fallback" href="https://www.youtube.com/watch?v=VIDEO_ID_1">Watch on YouTube: "Latest Video"</a>
          </lite-youtube>
        </div>
      </div>
      <div id="youtubeCard2" class="rounded-lg bg-gray-800 p-8 h-[600px] flex flex-col">
        <h4 class="text-xl font-bold text-gray-100 mb-4">Penúltimo vídeo</h4>
        <div class="flex-grow">
          <lite-youtube vnum="1" class="w-full h-full">
            <a class="lite-youtube-fallback" href="https://www.youtube.com/watch?v=VIDEO_ID_2">Watch on YouTube: "Second Latest Video"</a>
          </lite-youtube>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección de scripts -->
  <script src="/js/minified/content/youtube.js"></script>
  <%- include(`../scripts.ejs`) %>
</main>