<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body class="flex min-h-screen flex-col bg-gray-900 text-white font-mono">
  <header class="bg-gray-800 p-4">
    <h1 class="text-left text-2xl font-bold text-blue-400">AlexDevUwU</h1>
  </header>

  <%- include(`partials/${view}.ejs`) %>

  <br>
  <footer class="bg-gray-800 p-4 text-center">
    <p>&copy; 2024 AlexDevUwU</p>
  </footer>
</body>

</html>