<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AlexDevUwU</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    body {
      background-color: #171b26;
      color: #d1d5db;
      /* Color de texto gris */
    }
  </style>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body class="flex min-h-screen flex-col bg-gray-900 text-white font-mono">
  <header class="bg-gray-800 p-4">
    <h1 class="text-left text-2xl font-bold text-blue-400">AlexDevUwU</h1>
  </header>
  <main class="container mx-auto mt-10 flex-grow px-8 sm:px-16 lg:px-32">
    <section class="mx-auto mt-10 max-w-4xl text-left">
      <div class="items-left flex flex-col">
        <div class="items-left flex text-left">
          <img src="https://pbs.twimg.com/profile_images/1615088228968661014/ckv0lEyI.jpg" alt="AlexDevUwU" class="h-24 w-24 rounded-full border-4 border-blue-400" />
          <div class="ml-4">
            <h2 class="text-3xl font-semibold">Alex Verde</h2>
            <p class="text-base text-blue-400">@alexdevuwu</p>
            <div class="mt-2 flex space-x-4">
              <a href="#" class="text-xl text-gray-300"><i class="fab fa-github"></i></a>
              <a href="#" class="text-xl text-gray-300"><i class="fab fa-twitter"></i></a>
              <a href="#" class="text-xl text-gray-300"><i class="fab fa-instagram"></i></a>
              <a href="#" class="text-xl text-gray-300"><i class="fab fa-tiktok"></i></a>
              <a href="#" class="text-xl text-gray-300"><i class="fab fa-spotify"></i></a>
              <a href="#" class="text-xl text-gray-300"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <p class="mx-auto mt-10 max-w-4xl text-left">¡Hola! Soy Alex, un joven y apasionado desarrollador</p>
    </section>
    <section class="mx-auto mt-10 max-w-4xl text-left">
      <h3 class="mb-4 text-2xl font-bold">Comunidad</h3>
      <div class="space-y-6">
        <a href="#" class="block rounded-lg bg-blue-800 p-6 hover:bg-blue-700">
          <div class="flex items-center">
            <i class="fas fa-book-open mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">Cursos gratis</p>
              <p class="text-gray-400">Consulta mis tutoriales para aprender programación</p>
            </div>
          </div>
        </a>
        <a href="#" class="block rounded-lg bg-gray-800 p-6 hover:bg-gray-800">
          <div class="flex items-center">
            <i class="fab fa-twitch mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">Twitch</p>
              <p class="text-gray-400">Transmisiones sobre programación de lunes a viernes</p>
            </div>
          </div>
        </a>
        <a href="#" class="block rounded-lg bg-gray-800 p-6 hover:bg-gray-800">
          <div class="flex items-center">
            <i class="fab fa-discord mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">Discord</p>
              <p class="text-gray-400">El chat y los grupos de estudio de la comunidad</p>
            </div>
          </div>
        </a>
        <a href="#" class="block rounded-lg bg-gray-800 p-6 hover:bg-gray-800">
          <div class="flex items-center">
            <i class="fab fa-youtube mr-3 text-gray-300"></i>
            <div>
              <p class="font-bold text-gray-100">YouTube</p>
              <p class="text-gray-400">Tutoriales sobre desarrollo de software semanales</p>
            </div>
          </div>
        </a>
        <a href="#" class="block rounded-lg bg-gray-800 p-6 hover:bg-gray-800">
          <div class="flex items-center">
            <i class="fas fa-video mr-3 text-gray-300"></i>            <div>
              <p class="font-bold text-gray-100">YouTube | canal secundario</p>
              <p class="text-gray-400">Emisiones en directo destacadas</p>
            </div>
          </div>
        </a>
      </div>
    </section>
    <section class="mx-auto mt-10 max-w-4xl text-left">
      <h3 class="mb-4 text-2xl font-bold">Destacado</h3>
      <div class="space-y-6">
        <a href="#" class="block rounded-lg bg-gray-800 p-6 hover:bg-gray-800">
          <div class="flex items-center">
            <i class="fas fa-database mr-3 text-gray-300"></i>
            <p class="font-bold text-gray-100">Curso de SQL</p>
            <!-- Color del texto -->
          </div>
        </a>
        <a href="#" class="block rounded-lg bg-gray-800 p-6 hover:bg-gray-800">
          <div class="flex items-center">
            <i class="fab fa-python mr-3 text-gray-300"></i>
            <p class="font-bold text-gray-100">Curso de Python Web</p>
          </div>
        </a>
      </div>
    </section>
  </main>
  <br>
  <footer class="bg-gray-800 p-4 text-center">
    <p>&copy; 2024 AlexDevUwU. Todos los derechos reservados.</p>
  </footer>
</body>

</html>