<main class="container mx-auto mt-10 flex-grow px-8 sm:px-24 lg:px-64 hidden">
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold">Error 500 - Error interno del servidor</h3>
    <div class="space-y-6">
      <div class="block rounded-lg bg-gray-800 p-6">
        <div class="flex items-center">
          <i class="fa-solid fa-server mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Lo sentimos, algo salió mal en nuestro lado.</p>
            <p class="text-gray-400 font-agrandir">Estamos trabajando para solucionar el problema. Por favor, vuelve a intentarlo más tarde.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección de scripts -->
  <%- include(`../scripts.ejs`) %>
</main>