<main class="container mx-auto mt-10 flex-grow px-8 sm:px-24 lg:px-32 xl:px-48 hidden">
  <section class="mx-auto mt-10 max-w-6xl text-left">
    <h3 class="mb-4 text-2xl font-bold text-yellow-500 flex items-center">
      <i class="fa-solid fa-globe mr-3 text-yellow-400"></i>
      Error 502 - Bad Gateway
    </h3>
    <div class="space-y-4">
      <div class="block rounded-lg bg-gray-800 p-6">
        <div class="flex items-center">
          <i class="fa-solid fa-globe mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">El servidor recibi칩 una respuesta no v치lida de un servidor ascendente.</p>
            <p class="text-gray-300 font-agrandir">Por favor, vuelve a intentarlo m치s tarde.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Secci칩n de scripts -->
  <%- include(`../scripts.ejs`) %>
</main>