<main class="container mx-auto mt-10 flex-grow px-8 sm:px-24 lg:px-32 xl:px-48 hidden">
  <section class="mx-auto mt-10 max-w-6xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-info-circle mr-3 text-gray-300"></i>
      Contenido adicional
    </h3>
    <div class="space-y-4">
      <p class="text-left font-agrandir">Bienvenido a la sección de contenidos adicionales. Aunque estos contenidos no siguen la temática principal de "portfolio", aportan información útil y completan la experiencia de la página. Es por ello por lo que los he reunido en esta sección adicional.</p>
      <a href="/extras/status" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fas fa-tachometer-alt mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Status Page</p>
            <p class="text-gray-300 font-agrandir">Aquí puedes consultar el estado de mis proyectos, servicios y servidores, y verificar si alguno de ellos ha experimentado alguna interrupción o problema.</p>
          </div>
        </div>
      </a>
      <a href="/extras/mediacontent" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fas fa-share-alt mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Plataformas de contenido</p>
            <p class="text-gray-300 font-agrandir">Aquí puedes encontrar mis plataformas de contenido. Por lo general suelen estar inactivas, ¿pero quién sabe? Lo mismo algún día me da por crear algún contenido!</p>
          </div>
        </div>
      </a>
      <a href="/extras/links" class="block rounded-lg bg-gray-800 p-6 hover:bg-blue-700">
        <div class="flex items-center">
          <i class="fas fa-link mr-3 text-gray-300"></i>
          <div>
            <p class="font-bold text-gray-100">Links</p>
            <p class="text-gray-300 font-agrandir">Aquí puedes encontrar mi "LinkTree" (por supuesto, hecho por mi) con todos los enlaces que posiblemente necesites relacionados conmigo!</p>
          </div>
        </div>
      </a>
    </div>

  </section>
  <%- include(`../scripts.ejs`) %>
</main>