<main class="container mx-auto mt-10 flex-grow px-8 sm:px-24 lg:px-64 hidden">
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-tachometer-alt mr-3 text-gray-300"></i>
      Status Page
    </h3>
    <div class="space-y-4">
      <div class="mt-0 p-6 bg-gray-800 rounded-lg shadow-lg">
        <p class="font-agrandir text-gray-300 text-left">
          En esta página podrás encontrar el estado de mis servidores y páginas web. <br><br>
          La página web refresca los datos cada minuto de forma automática, pero si quieres refrescarlos manualmente, puedes recargar la página.
        </p>
      </div>
      <div class="mt-0 p-6 bg-gray-800 rounded-lg shadow-lg">
        <p class="font-agrandir text-gray-300 text-left">
          Los servidores que aquí se muestran son aquellos que ejecutan todos mis proyectos y webs no estáticos (como este portfolio!), mientras que para las webs estáticas utilizo CloudFlare Pages. <br><br>
          Los datos de los servidores son aportados por la API de <a href="https://hetrixtools.com/" class="underline">HetrixTools</a>, mientras que los de las páginas web son generados desde el dispositivo en el que estás visualizando esta página.
        </p>
      </div>
    </div>
  </section>
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-tachometer-alt mr-3 text-gray-300"></i>
      Estado de mis servidores
    </h3>
    <div class="space-y-4" id="server-status-container">
    </div>
  </section>
  <section class="mx-auto mt-10 max-w-4xl text-left">
    <h3 class="mb-4 text-2xl font-bold flex items-center">
      <i class="fas fa-tachometer-alt mr-3 text-gray-300"></i>
      Estado de mis páginas web
    </h3>
    <div class="space-y-4" id="status-container">
    </div>
  </section>
  <%- include(`../scripts.ejs`) %>
  <script src="/js/minified/extras/status.js"></script>
</main>
